<md-toolbar color="primary">
    <button class="menu-icon" md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item routerLink="/account">
        <md-icon>account_balance_wallet</md-icon>
        <span>Account details</span>
      </button>
      <button md-menu-item routerLink="/graph">
        <md-icon>bubble_chart</md-icon>
        <span>Ethereum graph</span>
      </button>
      <button md-menu-item routerLink="/ranking">
        <md-icon>insert_chart</md-icon>
        <span>Ethereum ranking</span>
      </button>
    </md-menu>

  <h1 class="menu-headline" ><b>P2B2</b> - Ethereum Analyzer</h1>
</md-toolbar>

<router-outlet></router-outlet>
