<md-toolbar color="primary">
    <button class="menu-icon" md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item>
        <md-icon>account_balance_wallet</md-icon>
        <span>Account details</span>
      </button>
      <button md-menu-item>
        <md-icon>bubble_chart</md-icon>
        <span>Network graph</span>
      </button>
      <button md-menu-item>
        <md-icon>insert_chart</md-icon>
        <span>Ethereum charts</span>
      </button>
    </md-menu>

    <h1 class="menu-headline" >P2B2 - Ethereum Analyzer</h1>
</md-toolbar>

