circle.node {
  stroke: #222;
  stroke-width: 1.5px;
}

circle.node.Contract {
  fill: #ff367f !important;
}

circle.node.External {
  fill: blueviolet;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
  stroke-width: 1px;
}
