<h2 style="text-align: center">Account info</h2>

<div class="p2b2-container">
  <div id="account-form-container">
    <form (ngSubmit)="getInfoForAccount(accountAddress)" #ethAccountForm="ngForm">
      <md-input-container class="example-full-width" id="address-input">
        <input mdInput placeholder="Enter an Ethereum address to display a graph" name="accountAddressInput" [(ngModel)]="accountAddress" required>
      </md-input-container>
      <button md-raised-button id="address-input-button" type="submit" class="btn btn-success" [disabled]="!ethAccountForm.form.valid">Get Graph</button>
    </form>
  </div>

  <div id="account-details-container" #details>
    <div #totalAmount></div>
  </div>

</div>


<div style="height: 65em;" class="d3-chart" #chart></div>
