<h2 style="text-align: center">Account info</h2>

<div class="p2b2-container">
  <div id="account-form-container">
    <form (ngSubmit)="getGraphForAccount(accountAddress)" #ethAccountForm="ngForm">
      <md-input-container class="example-full-width" id="address-input">
        <input mdInput placeholder="Enter an Ethereum address to display a graph" name="accountAddressInput" [(ngModel)]="accountAddress" required>
      </md-input-container>
      <button md-raised-button id="address-input-button" type="submit" class="btn btn-success" [disabled]="!ethAccountForm.form.valid">Get Graph</button>
    </form>
  </div>

  <div id="account-details-container">
    <p>Idea: Display some of your map reduce results here? And below I show a sub-graph for the account</p>

    <div *ngIf="accountsTransactions.length > 0" id="transactions-table">
      <h3>Transaction Record</h3>
      <table >
        <tr>
          <th>Block Number</th>
          <th>From</th>
          <th>To</th>
          <th>Value</th>
          <th>Gas</th>
          <th>Gas price</th>
          <th>Input</th>
        </tr>
        <tr *ngFor="let transaction of accountsTransactions">
          <td>{{transaction.properties.blockNumber}}</td>
          <td>{{transaction.properties.from}}</td>
          <td>{{transaction.properties.to}}</td>
          <td>{{transaction.properties.value}}</td>
          <td>{{transaction.properties.gas}}</td>
          <td>{{transaction.properties.gasPrice}}</td>
          <td>{{transaction.properties.input}}</td>
        </tr>
      </table>
    </div>

    <div>
      <h3 [hidden]="!(graphData.nodes.length > 0)">Account Graph</h3>
      <div style="height: 65em;" class="d3-chart" #chart></div>
    </div>

  </div>

</div>



