.ranking-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid black;
}

.ranking-table tr:nth-child(even) {background-color: #f2f2f2}

.ranking-table-data td:first-child {
    text-align: center;
}

.ranking-table-data td:last-child {
    text-align: right;
}

.ranking-table th {
    background-color: #437ede;
    color: white;
}

.ranking-table th,td {
    border: 1px solid black;
    padding: 10px;
}