/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import "app/d3styles.css";

body {
  margin: 0 0 0 0;
  font-family: Roboto,"Helvetica Neue",sans-serif;
}

.mat-toolbar.mat-primary {
  background: #437ede;
}

.p2b2-container {
  margin: 1vw 2vw 1vw 2vw;
}
