<div class="p2b2-container">
  <form (ngSubmit)="getGraphForAccount(accountAddress)" #ethAccountForm="ngForm">
    <md-input-container class="example-full-width" id="address-input">
      <input mdInput placeholder="Enter an Ethereum address to display a graph" name="accountAddressInput" [(ngModel)]="accountAddress" required>
    </md-input-container>
    <button md-raised-button id="address-input-button" type="submit" class="btn btn-success" [disabled]="!ethAccountForm.form.valid">Get Graph</button>
  </form>
</div>


<div class="d3-chart" #chart></div>
