<h2 style="text-align: center">Graph Analysis</h2>

<div class="p2b2-container">

    <div id="navigator">
      <md-grid-list cols="3" rowHeight="2:1">
        <md-grid-tile (click)="getCentrality('accounts')" style="background: #1D365E;">
          <div class="tile-content">
            <h2>Centrality</h2>
            <h3>All accounts</h3>
          </div>
        </md-grid-tile>
        <md-grid-tile (click)="getCentrality('external')" style="background: #89ABE3;">
          <div>
            <h2>Centrality</h2>
            <h3>External accounts</h3>
          </div>
        </md-grid-tile>
        <md-grid-tile (click)="getCentrality('contracts')" style="background: #3461AB;">
          <div>
            <h2>Centrality</h2>
            <h3>Contracts</h3>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>

    <div id="degree-table" *ngIf="accountDegreeCentrality.length > 0">
      <table >
        <tr>
          <th></th>
          <th>Account Address</th>
          <th>Degree Score</th>
        </tr>
        <tr *ngFor="let accDegCen of accountDegreeCentrality">
          <td>{{accDegCen.place}}</td>
          <td>{{accDegCen.address}}</td>
          <td>{{accDegCen.degreeScore}}</td>
        </tr>
      </table>
    </div>
</div>

<div style="height: 65em;" class="d3-chart" #chart></div>
