.d3-chart {
  width: 100%;
  height: 400px;
}

/***********Start: Grid navigation***************/
md-grid-tile {
  border: 10px solid white;
  text-align: center;
  transition: all .2s ease-in-out;
  cursor: pointer;
  color: whitesmoke;
}

md-grid-tile:hover {
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Safari */
  transform: scale(1.1, 1.1);
  z-index: 20;
  border: none;
}

#navigator h2, #navigator h3 {
  width: 100%;
}
/***********End: Grid navigation***************/


/***********Start: Table**************/


#degree-table {
  max-width: 100%;
  overflow: auto;
  margin-bottom: 2em;
  margin-top: 2em;
}

#degree-table table {
  border-collapse: collapse;
  width: 100%;
}

#degree-table td, #transactions-table  th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  max-width: 27em;
  overflow: auto;
}

#degree-table tr:nth-child(even) {
  background-color: #dddddd;
}

/****************End Table********************/
